<%= form_for(admin_plugins_camaleon_google_analytic_settings_path, html: {id: 'google_analytic_form', class: 'validate'}) do %>
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title"> <%= t('plugin.camaleon_google_analytic.settings.title') %></h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><%= t('plugin.camaleon_google_analytic.form.code') %> </span>
            <%= text_field_tag("camaleon_google_analytic[code]", @google_analytic[:code], class: "required form-control") %>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a class="btn btn-default" href="<%= url_for cama_admin_plugins_path %>"><%= t('admin.button.back') %></a>
        <button class="btn btn-primary pull-right" type="submit"><%= t('admin.button.submit') %></button>
      </div>
    </div>

<% end %>
